@charset "UTF-8";

*{
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #f0f0f0;
}

.header-admin {
	position: relative;
	top: 0px;
	width: 100%;
	background-color: white;
	text-align: center;
	border-bottom: 4px solid #2C6B8F;
}

.main-admin {
	margin-top: 35px;
	text-align: center;
}

.add-form{
	width: 300px;
  	margin: 20px auto;
  	padding: 10px;
  	background-color: #fff;
  	border: 8px solid #2C6B8F;
  	border-radius: 4px;
}

.toAdminPageButton button{
  	background-color: #2C6B8F;
  	color: #fff;
  	border: none;
  	padding: 10px;
  	border-radius: 4px;
  	cursor: pointer;
  	margin-bottom: 30px;
}

.toAdminPageButton button:hover{
	background-color: #34729B;
}

input[type="submit"],
input[type="reset"]{
	background-color: #2C6B8F;
  	color: #fff;
  	border: none;
  	padding: 10px;
  	border-radius: 4px;
  	cursor: pointer;
  	margin-top: 20px;
  	margin-bottom: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
	background-color: #34729B;
}

#id{
	margin-top: 15px;
}

.menu-gestione ul {
	text-decoration: none;
}

#form-button {
	display: flex;
    justify-content: center;
}

#form-button input {
	margin: 10px;
}

#remove-button {
	display: flex;
	justify-content: center;
}

#remove-button button {
	background-color: #2C6B8F;
  	color: #fff;
  	border: none;
  	padding: 10px;
  	border-radius: 4px;
  	cursor: pointer;
  	margin-top: 25px;
}

#remove-button button:hover {
	background-color: #34729B;
}

.menu-gestione button {
	width: 250px;
	height: 70px;
	font-size: 1.5em;
	margin: 10px;
	padding: 10px;
	background-color: #2C6B8F;
	color: white;
	border-radius: 10px;
}

.searchOrdersBar {
	display: flex;
	justify-content: center;
	margin-top: 35px;
	margin-bottom: 30px;
}

.searchOrdersBar input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #2C6B8F;
    border-radius: 4px;
    margin: 0 auto;
}

.searchOrdersBar select {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #2C6B8F;
    border-radius: 4px;
    margin: 0 auto;
}

/* Stili generali per il contenitore dell'ordine */
.order {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.order > span {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.products {
    margin-top: 20px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
}

.products .title {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.products .price {
    font-size: 16px;
    color: #888;
    margin-left: 10px;
}

.products .quantita {
    font-size: 16px;
    color: #555;
    margin-left: 10px;
}

.products span {
    display: inline-block;
    margin-bottom: 5px;
}

.products span + span {
    margin-left: 15px;
}

.products span:last-child {
    display: block;
    margin-bottom: 15px;
}

.products br {
    margin-bottom: 10px;
}

/*Stile per l'H1 nel caso non ci siano ordini*/
.order-list h1 {
	text-align: center;
}
