@charset "UTF-8";

body{
	background-color: #e9e9e9;
	font-family: Arial, sans-serif;
	min-height: 100vh; /* Altezza minima del body pari all'altezza del viewport */
    display: flex;
    flex-direction: column;
}

h2{
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}

.main{
	flex: 1;
	background-color: #e9e9e9;
	margin: 80px 50px 50px 50px;
}

.list_item {
  	display: grid;
  	grid-template-columns: repeat(3, minmax(200px, 1fr));
  	gap: 16px;
}

.item {
  	background: #f9f9f9;
  	padding: 16px;
  	border: 1px solid #ddd;
  	border-radius: 8px;
  	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  	text-align: center;
}

.item img {
	border-radius: 8px;
 	max-width: 100%;
 	height: auto;
 	display: block;
	margin: 0 auto 8px;
}

.item .title {
  	display: block;
  	font-size: 1.5em;
  	margin: 8px 0;
}

.item .price {
  	color: #333;
  	font-weight: bold;
}

/**BARRA DELLE CATEGORIE*/
.containerCat {
	display: flex;
	justify-content: center;
	width: 100%;
}

.list_cat {
  	display: flex;
  	overflow-x: auto;
  	padding: 16px;
  	gap: 16px;
  	scroll-snap-type: x mandatory; /* Snap per una migliore esperienza di scorrimento */
}

.list_cat a {
	text-decoration: none;
  	flex: 0 0 auto; /* Impedisce agli elementi di ridimensionarsi */
  	scroll-snap-align: start; /* Allineamento di snap all'inizio dell'elemento */
}

.list_cat a button {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	background: #fff;
  	border: none;
  	padding: 8px;
  	cursor: pointer;
 	border-radius: 8px;
 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 	width: 100px;
 	height: 100px;
}

.list_cat a button img {
  	max-width: 100%;
  	height: auto;
  	display: block;
}

button .cat-title {
  	margin-top: 8px;
  	font-size: 1em;
  	text-align: center;
}